.card {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px -2px;
}

.ant-tabs-tab, .ant-tabs-tab:hover {
  font-size: 22px;
  padding: 8px 3px !important;
  font-weight: 700;
}

.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab-active:hover {
  border-bottom: solid 4px #47e4c2;
  color: #47e4c2;
  font-size: 22px;
  padding: 8px 3px !important;
  font-weight: 700;
}

.ant-tabs-ink-bar {
  background-color: #47e4c2;
}

.ant-tabs-bar {
  border-bottom: none;
}

.icon-list {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.pv-md {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-card {
  float: right;
  margin-right: -290px;
  width: 270px;
  display: none;
}

.listitem-container {
  padding: 15px;
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.1);
}

.listitem-image {
  height: 100px;
  width: 70px;
  margin-right: 20px;
}

@media (min-width: 1880px) {
  .sidebar-card {
    display: block;
  }
}

@media (max-width: 560px) {
  .ant-tabs-tab, .ant-tabs-tab:hover {
    font-size: 18px;
  }
  
  .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab-active:hover {
    font-size: 18px;
  }
  .card {
    margin: 10px 0;
  }

  .listitem-container {
    padding: 5px;
    height: auto;
    align-items: flex-start;
  }

  .listitem-image {
    height: 70px;
    width: 50px;
    margin-right: 15px;
  }
}